/* Global */

* {
    font-family: "Quicksand", serif;
}

:root {
    --primary-color: #F53E32;
    --nav-color: #253D4E;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -webkit-appearance: none;
    appearance: textfield;
}

.product-badge {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff6a00;
    color: #fff;
    padding: 9px 20px;
    border-radius: 15px 0 20px 0;
    font-size: 1.2rem;
}

.hot .product-badge {
    background-color: #F74B81;
}

.new .product-badge {
    background-color: #3BB77E;
}

.sale .product-badge {
    background-color: #67BCEE;
}

.discount .product-badge {
    background-color: #F59758;
}


.ratings {
    margin-right: 10px;
}

.ratings i {
    color: #cecece;
    font-size: 12px;
}

.rating-color {
    color: #fbc634 !important;
}

.btn-primary {
    background-color: var(--primary-color);
    outline: none;
    border: none;
    transition: all .3s ease;
}

.btn-primary:hover {
    background-color: #b41105;
}

.active-green {
    color: #3BB77E;
}

.product-card__rounded {
    border-radius: 15px;
}

.circle {
    position: relative;
    background-color: #F7F7F8;
    border-radius: 50%;
    width: 35px;
    padding: 5px;
    top: -6%;
    left: 43%;
}

.circle i {
    color: #64B496;
}

/* Header */

.category-nav,
.category-nav a {
    font-weight: 600 !important;
    color: var(--nav-color) !important;
}

.fa-phone {
    color: var(--nav-color);
    text-align: center;
}



.breadcrumb-item+.breadcrumb-item::before {
    content: none !important;
}




/* ======================= 
       Footer Strat
 =========================  */



a {
    color: black;
    text-decoration: none;
}


.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    margin-right: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.social-icon:hover {
    background-color: #ddd;
}

.company-list li,
.category-list li {
    margin-bottom: 10px;
}

.text-danger {
    color: red !important;
}