* {
    font-family: "Quicksand", serif;
}

:root {
    --primary-color: #F53E32;
    --nav-color: #253D4E;
}

h2 {
    color: #253D4E;
    font-weight: bold;
}

.text-decoration-line-through {
    text-decoration: line-through;
}

.product-card__rounded {
    border-radius: 15px;
}

.product-badge {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff6a00;
    color: #fff;
    padding: 9px 20px;
    border-radius: 15px 0 20px 0;
    font-size: 1.2rem;
}

.hot .product-badge {
    background-color: #F74B81;
}

.new .product-badge {
    background-color: #3BB77E;
}

.sale .product-badge {
    background-color: #67BCEE;
}

.discount .product-badge {
    background-color: #F59758;
}


.ratings {
    margin-right: 10px;
}

.ratings i {
    color: #cecece;
    font-size: 12px;
}

.rating-color {
    color: #fbc634 !important;
}

.btn-primary {
    background-color: var(--primary-color);
}

.section-title-margin {
    margin-bottom: 2.813rem;
}

.active-green {
    color: #3BB77E;
}

.category-nav {
    font-weight: 500;
    color: var(--nav-color);
}


@media screen and (min-width:768px) {
    .card {
        max-width: 300px;
    }
}


/*----------- Deals Of The Days  start ------------- */

.title-spacing {
    margin-top: 2em;
}

.custom-product-card {
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: auto;
    margin-bottom: 10em;
}

.custom-product-card img {
    width: 100%;
    border-radius: 15px;
}

.custom-product-info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: -70px;
}

.custom-price {
    font-weight: bold;
    color: #28a745;
}

.custom-old-price {
    text-decoration: line-through;
    color: gray;
}

.custom-btn-add {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
}

.custom-product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*----------- Deals Of The Days  End ------------- */