*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}
.nav2 {
    background-color: rgb(241, 74, 74);

}

.login-btn {
    margin-right: 6%;
    border-radius: 6px;
    margin-left: 0;

}
.Signup, .login {
   
    background-color: #F53E32;

}
#phoneNumber{
    font-size: .9rem;
}

.login-form {
    padding: 5px;
    width: 30%;
    max-width: 500px; 
    margin: 30px auto;
    border: 0.5px solid rgb(167, 163, 163);

}

.breadcrumb-container {
    width: 100vw;
    margin-left: 0 !important;
    padding: 0;
}

.breadcrumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(220, 53, 69);
    border-radius: 8px;
    width: 100vw;
}

.Region{
    background-color: rgb(235, 234, 234);
}