.card-header {
  font-weight: bold;
  background-color: transparent;
  border-bottom: none;
  /* Removes the border */
}

.headereturn {
  font-weight: bold;

}

.card-body {
  border-top: none;
  /* Ensures there is no border at the top */
}

.card {
  margin-bottom: 1.5rem;
}


.phone-num {
  margin-right: 220px;
  font-size: 16px;
  font-family: Segoe UI;
  font-weight: bold;
  color: black;
}

.menupar {
  margin-left: 200px;

}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-nav {
  display: flex;
  gap: 15px;
}

.navbar .nav-item {
  font-weight: bold;
}

.navbar-second-row {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.food {
  margin-left: 190px;
  margin-right: 150px;

}

.icons {
  margin-right: 150px;
  font-size: 16px;
  font-family: Segoe UI;
  font-weight: bold;
  color: black;

}

.icon {
  margin-left: 3px;
  font-size: 16px;
  font-family: Segoe UI;
  font-weight: bold;
  color: black;

}

.search input {
  width: 340px !important;
  max-width: 100%;
}

.food img {
  width: 50px;
}

.margred {
  margin-left: 190px;
  margin-right: 110px;
}


.submit {
  margin-right: 220px;
}

.navbar-red {
  background-color: #ff4d4d;
}

.navbar-red .nav-link {
  color: white;
}

.navbar-red .nav-link:hover {
  color: #f8f9fa;
}

.card {
  margin-bottom: 1.5rem;
}



.product-details {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.product-details img {
  width: 70px;
  height: 70px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.product-details .old-price {
  text-decoration: line-through;
  margin-right: 1.5rem;
  color: gray;
}

.summary-details {
  display: flex;
  justify-content: space-between;
}


@media (max-width: 768px) {




  .carousel-caption {
    left: 5%;
    max-width: 90%;
    text-align: center;
  }

  .carousel-caption h1 {
    font-size: 1.8rem;
  }

  .carousel-caption p {
    font-size: 1rem;
  }

  .carousel-caption .btn {
    font-size: 1rem;
    padding: 8px 16px;
  }

  .menupar {
    display: none;
  }

  .phone-num {
    display: none;
  }

  .food {
    display: none;
  }



  .category a {
    margin: 3px;
    padding: 5px;
    margin-left: 0px;
  }

  .margred {
    margin-left: 0px;
    margin-right: 0px;
  }
}